/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 50px;
  padding-bottom: 50px;
}

// Backgrounds
.bg-text {
  background: $yellow;
}
.bg-email {
  background: $brand-color;
}
.bg-twitter {
  background: $blue;
}
.bg-facebook {
  background: $blue;
}


